<div class="main">
    <h2>Braainy FE tech challenge</h2>
    <p>Thanks for taking the time to do our tech challenge!</p>
    <p>The challenge is to build a web app that can help a company create products and contacts and sync the data with an external ERP system.</p>
    <h3>It should satisfy these user stories:</h3>
    <ul>
        <li> AsauserIwantto be able to create products and contacts </li>
        <li> AsauserIwantto be able to sync products and contacts in the web app with my ERP system - Billy </li>
        <li> AsauserIwantto be able to see paginated list with contacts and products AsauserIwantto be able to choose fields displayed on the index pages for products and contacts and I want the app to “remember” my choice. </li>
        <li> As a user I want to be able to search contacts and products by name, As a user I want to be able to sort products by name </li>
    </ul>
    <h3>Additional requirements: </h3>
    <ul>
        <li>The project should contains some tests</li>
        <li>The project should be git base and should contains incremental commits</li>
        <li>The project should contains minimal documentation with instructions how to launch the code Getting started</li>
        <li>You can find documentation of the Billy’s API here: ​https://www.billy.dk/api/</li>
        <li>You can use following X-Access-Token - 749f6c0f873eb98f16257eec9baa47c944617d34</li>
        <li>You can use following X-Access-Token - 749f6c0f873eb98f16257eec9baa47c944617d34</li>
        <li>We don't have any requirements on what stack you use to solve the task, so there is nothing set up beforehand.</li>
    </ul>
    <h3>Timing:</h3>
    <p>Don't spend more than 2 days working on this challenge. We're not looking for perfection, rather try to show us something special and have reasons for your decisions.</p>
    <h3>Notes: </h3>
    <p>Please focus more on code quality than on the UI.</p>
</div>